/* =====================
# MAIN
===================== */
@import 'theme/theme';

/*Base*/
@import 'base/styles';
@import 'base/bajar_footer';
@import 'base/utilities';
@import 'base/others';
@import 'base/grid';
@import 'base/container';
@import 'base/flexbox';

/*Components*/
@import 'components/_accordion';
@import 'components/_alerts';
@import 'components/_box_link';
@import 'components/_breadcrumb';
@import 'components/_buttons';
@import 'components/_card';
@import 'components/_charts';
@import 'components/_files';
@import 'components/_gallery';
@import 'components/icons';
@import 'components/_modal';
@import 'components/_pagination_area';
@import 'components/_table';
@import 'components/data_table';
@import 'components/_tabs';
@import 'components/_tooltips';
@import 'components/_vertical_tabs';

/*Forms*/
@import 'form/_form';
@import 'form/_password'; 
@import 'form/_search';
@import 'form/_switch';
@import 'form/_upload_files';
@import 'form/_date_group'; 
@import 'form/_multiple_select';

/*Navigation*/
@import 'navigation/_standar_navbar';//Revisar que sus estilos no choquen con el main_header y sidebar_menu del sidebar
@import 'navigation/_social_links';
@import 'navigation/_secondary_menu';
@import 'navigation/_back_to_top';

/*Website layout*/
@import 'layouts/_sections';
@import 'layouts/_login'; 

/*Dashboard layout*/
@import 'dashboard/_layout_sidebar';
@import 'dashboard/_main_header';
@import 'dashboard/_sidebar_menu';
@import 'dashboard/_quicklinks_menu';
@import 'dashboard/_user_panel';