/* # Imported files and fonts
----------------------------------------------- */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

/* =====================
# VARIABLES
===================== */
/* # Fonts
----------------------------------------------- */
$primary-font: "Montserrat", serif;
$secondary-font: "Roboto", serif;

/* =====================
# THEMES
===================== */
/* Light theme*/
:root {
  --primary-color: #ffffff;
  --secondary-color: #ebf5f8;
  --tertiary-color: #cedaf8;
  --fourth-color: #A3B9F1;
  --fifth-color: #7A99E1;
  --sixty-color: #528BD7;
  --seventy-color: #1A6AB4;
  --primary-text-color: #30363d;
  --highlight-color: #0F4C95;
  //--primary-text-color: #042857;
}

/* Dark theme */
body.dark-mode {
  --primary-color: #525C69;
  --secondary-color: #414C5B;
  --tertiary-color: #2E3846;
  --fourth-color: #24303E;
  --fifth-color: #1D2835;
  --sixty-color: #17212D;
  --seventy-color: #121920;
  --primary-text-color: #cecece;
  --highlight-color: #3891ff;
}

/*Fixed colors*/
$white-color:#ffffff;
$gray-color:#5c5c5c;
$dark-color:#000000;
$success-color:#35a038;
$warning-color:#db9a17;
$danger-color:#b92214;

/* =================
# COLOR DECLARATION
================= */
/* # Body Scrollbar
----------------------------------------------- */
/*Background color*/
body::-webkit-scrollbar {
  width: 10px;
  background-color: var(--primary-color);
}

/*Bar color*/
body::-webkit-scrollbar-thumb {
  background: var(--fifth-color);
}

body {
  background-color: var(--secondary-color);
  color: var(--primary-text-color)
}

/* # General colors
----------------------------------------------- */
p, ul, ol {
  color: var(--primary-text-color);
}

h1, h2, h3, h4, h5, h6 {
  color: var(--highlight-color);
  small{
    color: var(--highlight-color);
  }
}

a {
  color: color-mix(in srgb, var(--highlight-color) 90%, $white-color);
  
  //Estados de botón
  &:hover, &:active, &:focus {
    color: var(--highlight-color);
  }
}

b {
  color: var(--highlight-color);
}

/* # Text-color
----------------------------------------------- */
.text-inverted { color: var(--primary-color); }
.text-success { color: $success-color; }
.text-danger { color: $danger-color; }
.text-warning { color: $warning-color; }

/* # Background colors
----------------------------------------------- */
.bg-default {
  background-color: var(--primary-color);
  p, ul { color: var(--primary-text-color); }
  b { color:var(--highlight-color);}
  //a {}
}

.bg-light {
  background-color: var(--secondary-color);
  a, p, ul { color: var(--primary-text-color); }
  b { color: var(--seventy-color); }
}

.bg-dark {
  background-color: var(--tertiary-color);
  a, p, ul { color: var(--primary-color); }
  b { color: var(--seventy-color); }
}

.bg-darker {
  background-color: var(--primary-text-color);
  h1, h2, h3 { color: var(--primary-color); }
  a, p, ul { color: var(--primary-color); }
  b { color: var(--seventy-color); }
}

.bg-success {
  background-color: $success-color;
  p { color: $white-color; }
}

.bg-danger {
  background-color: $danger-color;
  p { color: $white-color; }
}

/* # Labes
----------------------------------------------- */
.label { color: $white-color; }
.label-primary { background-color: var(--fourth-color); }
.label-danger { background-color: $danger-color; }
.label-success { background-color: $success-color; }

/* # Icons
----------------------------------------------- */
i.icon {
  color: var(--seventy-color);
}
