/* =====================
# ACCORDEON
===================== */
.acordeon {
  max-width: 100%;
  //margin: 0 auto;
  .acordeon-item {
    margin-bottom: 10px;

    .acordeon-header {
      background-color: var(--primary-color);
      color: var(--primary-text-color);
      padding: 15px;
      text-align: left;
      font-size: 1rem;
      width: 100%;
      border: none;
      cursor: pointer;
      outline: none;
      border-radius: 0.25rem;
      display: flex;
      justify-content: space-between;
      align-items: center;
      transition: background-color 0.3s;
    
      &:hover {
        background-color: var(--tertiary-color);
      }
      
      /* Estilos para el ícono */
      .acordeon-icon {
        transition: transform 0.3s ease;
      }     
      
      /* Rote el ícono cuando el panel está abierto */
      &.open .acordeon-icon {
        transform: rotate(180deg);
      }      
      
    }

    .acordeon-body {
      background-color: var(--primary-color);
      padding: 15px;
      display: none;
      border-radius: 0 0 0.25rem 0.25rem;
    
      p {        
        //margin: 0;
        color: var(--primary-text-color);
      }  
      
    }    

  }  
}












