/* =====================
# BACK TO TOP
===================== */
//Backtotop sin jquery y sin ID top
#back-to-top {
  display: none; 
  position: fixed;
  bottom: 20px;
  right: 20px; 
  width: 45px;
  height: 45px;
  text-align: center;
  z-index: 1000;
  transition: background-color 0.3s ease;
  opacity:.2;
  color:$primary-text-color; 
  background-color:$sixty_color;

  i{
  line-height: 45px;
  font-size: 24px;
  }
}

#back-to-top:hover {
  opacity:1;
}