/* =====================
# BOX LINK
===================== */
.box-link {
  text-decoration: none;
  color: inherit;
  display: inline-block;  

  /* Opcional: cambiar el cursor al pasar por el enlace */
  &:hover {
    cursor: pointer;
  }  

  /* Tarjeta principal */
  .box-icon {
    position: relative;
    width: 100%;
    padding: 50px 20px 20px;
    border-radius: 10px;
    background-color: var(--primary-color);
    border: 1px solid var(--tertiary-color);
    text-align: center;
    font-family: sans-serif;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.05);
    transition: 0.3s;

    p{
      font-family:$secondary-font;
      font-size: 1rem; 
      color:var(--primary-text-color);
      font-weight: bold;  
      margin-bottom: 0;
    }

    &:hover{
      border:1px solid var(--highlight-color);
    }

    /* Círculo con ícono */
    .icon-circle {
      position: absolute;
      top: -20px;
      left: 50%;
      transform: translateX(-50%);
      width: 50px;
      height: 50px;
      border: 1px solid var(--tertiary-color);
      border-radius: 50%;
      display: flex;
      align-items: center;
      justify-content: center;
      font-size: 18px;
      background-color: var(--primary-color);
      transition: background-color 0.3s;
      color:var(--highlight-color);

      i{color:var(--highlight-color);}
    }   
    
    /* Hover sobre la tarjeta: cambia color del icono */
    &:hover .icon-circle {
      background-color: var(--highlight-color); 
      border-color: var(--highlight-color);
      color:var(--primary-color);
      i{color:$white-color;}
    }
    
    &:hover p {
      color:var(--highlight-color);
    }    

  }
  
}