/* =====================
# BREADCRUMB
===================== */
.breadcrumb ol {
	padding: 0;
	list-style: none;
	display: flex;
	flex-wrap: wrap;
	//gap: 0.5rem;
	align-items: center;

	li {
		color:var(--primary-text-color);
		font-size: 0.75rem;
		text-transform:uppercase;
		font-weight: bold;

		&::after {
			content: "/";
			margin: 0 0.5rem;
			color: lighten($highlight-color, 10%);
		}		

		&:last-child::after {
			content: "";
		}		

		a {
			color: lighten($highlight-color, 10%);
			font-size: 0.75rem;
		
			&:hover {
				text-decoration: underline;
				color:$highlight-color;
				.icon{color:$highlight-color;}
			}	

			.icon{
				color: lighten($highlight-color, 10%);
				margin-right: 0.25rem;
			}			
			
		}

	}

}