/* =====================
# BUTTONS
===================== */
.btn {
  display: inline-block;
  padding: .5rem .75rem;
  border: 1px solid transparent;
  border-radius:.25rem;
  white-space: nowrap;
  text-align: center;
  cursor: pointer;
  font-family:$primary-font;
  font-size: 1rem;
  font-weight: 700;

  i{
    font-size:1rem;
    line-height: 1.5;
    margin-right: 0.25rem;
  }
}

/* # Btn-properties
----------------------------------------------- */
.btn-block {
  display: block;
  width: 100%;
}

.btn-sm {
  font-size: .875rem;
  line-height: 1.5rem;
  padding: .25rem .5rem;
  border-radius: .2rem;

  i{ 
    font-size: .875rem;
    line-height: .5rem;
  }
}

/* # Btn-disable
----------------------------------------------- */
.btn-disable {
  background-color: var(--secondary-color);
  color: var(--fourth-color);
  cursor:not-allowed;
  i {color: var(--fourth-color);}    
}    

/* # Btn-lighter
----------------------------------------------- */
.btn-lighter {
  background-color: color-mix(in srgb, var(--sixty-color) 90%, $white-color);
  color: var(--primary-color); 
  i {color: var(--primary-color);}
  
  &:hover {
    background-color: var(--sixty-color); 
  }
}

/* btn-light-inverse */
.btn-lighter-inverse {  
  background-color: var(--secondary-color);
  color: color-mix(in srgb, var(--sixty-color) 90%, $white-color); 
  border-color: color-mix(in srgb, var(--sixty-color) 90%, $white-color); 
  i {color: color-mix(in srgb, var(--sixty-color) 90%, $white-color);}

  &:hover{
    background-color: var(--sixty-color); 
    color: var(--primary-color);
    i {color: var(--primary-color);}      
  }
}

/* # Btn-light
----------------------------------------------- */
.btn-light {
  background-color: color-mix(in srgb, var(--seventy-color) 90%, $white-color); 
  color: var(--primary-color); 
  i {color: var(--primary-color);}
  
  &:hover {
    background-color: var(--seventy-color);
  }
}

/* btn-default-inverse */
.btn-light-inverse {
  background-color: var(--secondary-color);
  color: color-mix(in srgb, var(--seventy-color) 90%, $white-color); 
  border-color: color-mix(in srgb, var(--seventy-color) 90%, $white-color); 
  i {color: color-mix(in srgb, var(--seventy-color) 90%, $white-color);}

  &:hover{
    background-color: var(--seventy-color); 
    color: var(--primary-color);
    i {color: var(--primary-color);}      
  }
}

/* # Btn-dark
----------------------------------------------- */
.btn-dark {
  background-color: color-mix(in srgb, var(--highlight-color) 90%, $white-color);   
  color: var(--tertiary-color);
  i {color: var(--tertiary-color);}    

  &:hover{
    background-color:var(--highlight-color);
  }
}
/* btn-default-inverse */
.btn-dark-inverse {
  background-color: var(--tertiary-color);
  color: color-mix(in srgb, var(--highlight-color) 90%, $white-color); 
  border-color: color-mix(in srgb, var(--highlight-color) 90%, $white-color); 
  i {color: color-mix(in srgb, var(--highlight-color) 90%, $white-color);}
  
  &:hover {
    background-color: color-mix(in srgb, var(--highlight-color) 90%, $white-color);
    color: var(--tertiary-color); 
    i {color: var(--tertiary-color);}
  }
}

/* # Btn-success
----------------------------------------------- */
.btn-success {
  background-color: lighten($success-color, 10%);
  color: var(--secondary-color);
  i {color: var(--secondary-color);}    
  
  &:hover{
    background:$success-color;
    color: var(--secondary-color);
    i {color: var(--secondary-color);}      
  }
}
/* btn-success-inverse */
.btn-success-inverse {
  background-color: var(--secondary-color);
  color: lighten($success-color, 10%);
  border-color: lighten($success-color, 10%);
  i {color: lighten($success-color, 10%);}
  
  &:hover {
    background-color: lighten($success-color, 10%);
    color:var(--secondary-color);
    i {color: var(--secondary-color);}
  }
}

/* # Btn-danger
----------------------------------------------- */
.btn-danger {
  background-color: lighten($danger-color, 25%);
  color: var(--secondary-color);
  i {color: var(--secondary-color);}    
  
  &:hover{
    background:$danger-color;
    color: var(--secondary-color);
    i {color: var(--secondary-color);}      
  }
}

/* btn-danger-inverse */
.btn-danger-inverse {
  background-color: var(--secondary-color);
  color: lighten($danger-color, 25%);
  border-color: lighten($danger-color, 25%);
  i {color: lighten($danger-color, 25%);}
  
  &:hover {
    background-color: lighten($danger-color, 25%);
    color:var(--secondary-color);
    i {color: var(--secondary-color);}
  }
}

/* # Btn-warning
----------------------------------------------- */
.btn-warning {
  background-color: lighten($warning-color, 10%);
  color: var(--secondary-color);
  i {color: var(--secondary-color);}    
  
  &:hover{
    background:$warning-color;
    color: var(--secondary-color);
    i {color: var(--secondary-color);}      
  }
}

/* btn-warning-inverse */
.btn-warning-inverse {
  background-color: var(--secondary-color);
  color: lighten($warning-color, 10%);
  border-color: lighten($warning-color, 10%);
  i {color: lighten($warning-color, 10%);}
  
  &:hover {
    background-color: lighten($warning-color, 10%);
    color:var(--secondary-color);
    i {color: var(--secondary-color);}
  }
}

/* # Btn-Link
----------------------------------------------- */
.btn-link {
  &:hover, &:active, &:focus{
    text-decoration: underline;
    color:var(--highlight-color);
  }
}

/* # Btn-group
----------------------------------------------- */
.button-group {
  display: inline-flex;
  border-radius: 0.25rem; 

  button {
    margin: 0;
    padding: .375rem .75rem;
    font-size: 1rem;
    line-height: 1.5;
    cursor: pointer;
    transition: background-color 0.3s ease;
    font-weight: 700;
  }  
}

/* # Botón izquierdo
----------------------------------------------- */
.button-left {
  background-color: var(--tertiary-color);
  color: color-mix(in srgb, var(--highlight-color) 90%, $white-color);  
  border: 1px solid color-mix(in srgb, var(--highlight-color) 90%, $white-color); 
  border-radius: 0.25rem 0 0 0.25rem; 

  &:hover {
    background-color: color-mix(in srgb, var(--highlight-color) 90%, $white-color); 
    color:var(--tertiary-color);
    i {color: var(--tertiary-color);}
  }  
}

/* # Botón derecho
----------------------------------------------- */
.button-right {
  background-color: color-mix(in srgb, var(--highlight-color) 90%, $white-color); 
  color: var(--tertiary-color);  
  border: 1px solid color-mix(in srgb, var(--highlight-color) 90%, $white-color); 
  border-radius: 0 0.25rem 0.25rem 0; 
  i {color: var(--tertiary-color);}    

  &:hover {
    background-color: var(--highlight-color);
    border: 1px solid var(--highlight-color);
  }  
}

/*Exclusivo para este proyecto*/
.btn.btn-flat {
  border-radius: 0;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  border-width: 1px;
}

/* # Btn-circle
----------------------------------------------- */
.btn-circle {
  display: inline-block;
  width: 2rem;
  height: 2rem;
  background-color: var(--highlight-color);
  border: 1px solid var(--highlight-color);
  border-radius: 50%;
  font-size: 1rem;
  line-height: 2rem;
  text-align: center;
  cursor: pointer;
  i{color:var(--tertiary-color) !important;}

  &:hover{
    background-color: var(--tertiary-color); 
    i{color:var(--highlight-color) !important;}
  }
}

.btn-circle-inverse {
  display: inline-block;
  width: 2rem;
  height: 2rem;
  background-color:var(--tertiary-color);
  border: 1px solid var(--highlight-color);
  border-radius: 50%;
  font-size: 1rem;
  line-height: 2rem;
  text-align: center;
  cursor: pointer;
  i{color:var(--highlight-color);}

  &:hover{
    background-color: var(--highlight-color); 
    i{color:var(--tertiary-color);}
  }
}
