/* =====================
# BUTTONS
===================== */
.btn {
  display: inline-block;
  padding: .5rem .75rem;
  border: 1px solid transparent;
  border-radius:.25rem;
  white-space: nowrap;
  font-weight: bold;
  text-align: center;
  cursor: pointer;
  font-family:$secondary-font;
  font-size: 1rem;
  font-weight: 300;

  i{
    font-size:1rem;
    line-height: 1.5;
    margin-right: 0.25rem;
  }
}

/* # Btn-properties
----------------------------------------------- */
.btn-block {
  display: block;
  width: 100%;
}

.btn-sm {
  font-size: .875rem;
  line-height: 1.5rem;
  padding: .25rem .5rem;
  border-radius: .2rem;

  i{ 
    font-size: .875rem;
    line-height: .5rem;
  }
}

/* # Btn-light
----------------------------------------------- */
.btn-light {
  background-color: lighten($highlight-color, 60%);
  color: lighten($highlight-color, 10%); 
  border-color: lighten($highlight-color, 10%); 
  i {color: lighten($highlight-color, 10%);}

  &:hover{
    background: lighten($highlight-color, 10%); 
    color: var(--primary-color);
    i {color: var(--primary-color);}      
  }
}
/* btn-default-inverse */
.btn-light-inverse {
  background-color: var(--primary-color);
  color: lighten($highlight-color, 10%); 
  border-color: var(--tertiary-color);
  i {color: lighten($highlight-color, 10%);}
  
  &:hover {
    background-color: lighten($highlight-color, 60%);
    border-color: lighten($highlight-color, 10%); 
    i {color: lighten($highlight-color, 10%);}
  }
}

/* # Btn-dark
----------------------------------------------- */
.btn-dark {
  background-color: lighten($highlight-color, 10%);   
  color: $white-color;
  i {color: var(--primary-color);}    

  &:hover{
    background:$highlight-color;
    i {color: var(--primary-color);}      
  }
}
/* btn-default-inverse */
.btn-dark-inverse {
  background-color: var(--primary-color);
  color: lighten($highlight-color, 10%); 
  border-color: lighten($highlight-color, 10%); 
  i {color: lighten($highlight-color, 10%);}
  
  &:hover {
    background-color: lighten($highlight-color, 10%);
    color: var(--primary-color); 
    i {color: var(--primary-color);}
  }
}

/* # Btn-lighter
----------------------------------------------- */
.btn-lighter {
  background-color: var(--secondary-color);   
  color: var(--fifth-color);
  i {color: var(--fifth-color);}    

  &:hover{
    background:var(--secondary-color);
  }
}
/* btn-light-inverse */
.btn-lighter-inverse {
  background-color: var(--primary-color);
  color: var(--fifth-color); 
  border-color: var(--secondary-color);
  i {color: var(--fifth-color);}
  
  &:hover {
    background-color: var(--secondary-color);
  }
}

/* # Btn-danger
----------------------------------------------- */
.btn-danger {
  background-color: lighten($danger-color, 50%);
  color: $danger-color;
  i {color: $danger-color;}    
  
  &:hover{
    background:$danger-color;
    color: var(--primary-color);
    i {color: var(--primary-color);}      
  }
}
/* btn-danger-inverse */
.btn-danger-inverse {
  background-color: var(--primary-color);
  color: $danger-color;
  border-color: $danger-color;
  i {color: $danger-color;}
  
  &:hover {
    background-color: $danger-color;
    color:var(--primary-color);
    i {color: var(--primary-color);}
  }
}

/* # Btn-success
----------------------------------------------- */
.btn-success {
  background-color: lighten($success-color, 40%);
  color: $success-color;
  i {color: $success-color;}    
  
  &:hover{
    background:$success-color;
    color: var(--primary-color);
    i {color: var(--primary-color);}      
  }
}
/* btn-danger-inverse */
.btn-success-inverse {
  background-color: var(--primary-color);
  color: $success-color;
  border-color: $success-color;
  i {color: $success-color;}
  
  &:hover {
    background-color: $success-color;
    color:var(--primary-color);
    i {color: var(--primary-color);}
  }
}

/* # Btn-warning
----------------------------------------------- */
.btn-warning {
  background-color: lighten($warning-color, 35%);
  color: $warning-color;
  i {color: $warning-color;}    
  
  &:hover{
    background:$warning-color;
    color: var(--primary-color);
    i {color: var(--primary-color);}      
  }
}
/* btn-danger-inverse */
.btn-warning-inverse {
  background-color: var(--primary-color);
  color: $warning-color;
  border-color: $warning-color;
  i {color: $warning-color;}
  
  &:hover {
    background-color: $warning-color;
    color:var(--primary-color);
    i {color: var(--primary-color);}
  }
}

/* # Btn-disable
----------------------------------------------- */
.btn-disable {
  background-color: var(--secondary-color);
  color: var(--fourth-color);
  cursor:not-allowed;
  i {color: var(--fourth-color);}    
}    

/* # Btn-Link
----------------------------------------------- */
.btn-link {
  &:hover, &:active, &:focus{
    text-decoration: underline;
    color:$highlight-color;
  }
}

/* # Btn-group
----------------------------------------------- */
.button-group {
  display: inline-flex;
  border-radius: 0.25rem; 
  //width: 100%;

  button {
    margin: 0;
    padding: .375rem .75rem;
    font-size: 1rem;
    line-height: 1.5;
    cursor: pointer;
    transition: background-color 0.3s ease;
    //width: 100%;
  }  
}

/* # Botón izquierdo
----------------------------------------------- */
.button-left {
  background-color: var(--primary-color);
  color: lighten($highlight-color, 10%);  
  border: 1px solid lighten($highlight-color, 10%); 
  border-radius: 0.25rem 0 0 0.25rem; 

  &:hover {
    background-color: lighten($highlight-color, 10%); 
    color:var(--primary-color);
  }  
}

/* # Botón derecho
----------------------------------------------- */
.button-right {
  background-color: lighten($highlight-color, 10%); 
  color: var(--primary-color);  
  border: 1px solid lighten($highlight-color, 10%); 
  border-radius: 0 0.25rem 0.25rem 0; 

  &:hover {
    background-color: $highlight-color;
    border: 1px solid $highlight-color;
  }  
}

/*Exclusivo para este proyecto*/
.btn.btn-flat {
  border-radius: 0;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  border-width: 1px;
}

/* # Btn-circle
----------------------------------------------- */
.btn-circle {
  display: inline-block;
  width: 2rem;
  height: 2rem;
  background-color: $highlight-color;
  border: 1px solid $highlight-color;
  border-radius: 50%;
  font-size: 1rem;
  line-height: 2rem;
  text-align: center;
  cursor: pointer;
  i{color:var(--primary-color);}

  &:hover{
    background-color: var(--primary-color); 
    i{color:$highlight-color;}
  }
}

.btn-circle-inverse {
  display: inline-block;
  width: 2rem;
  height: 2rem;
  background-color:var(--primary-color);
  border: 1px solid $highlight-color;
  border-radius: 50%;
  font-size: 1rem;
  line-height: 2rem;
  text-align: center;
  cursor: pointer;
  i{color:$highlight-color;}

  &:hover{
    background-color: $highlight-color; 
    i{color:var(--primary-color);}
  }
}
