/* =====================
# TABS
===================== */
.tabs-container {
  width: 100%;
  margin: auto;
  border: 1px solid var(--tertiary-color);
  
  .tabs{
    display: flex; 
    flex-wrap: wrap;
    background-color: var(--secondary-color);
    border-bottom: 1px solid var(--tertiary-color);
  
    &.tabs-center{
      justify-content: center;
    }

    @media (max-width: 768px) {
        flex-direction: column;
        align-items: stretch;
    } 
    
  }  
}

/* # Tabs button
----------------------------------------------- */
.tab-button {
  padding: 10px 20px;
  border: none;
  background: var(--secondary-color);
  color: var(--primary-text-color);
  cursor: pointer;
  text-align: center;
  transition: background 0.3s;
  outline: none;
  font-family: $secondary-font;
  font-size: 1rem;
  font-weight: 300;

  &.active,
  &:hover, 
  &:focus {
    background-color: color-mix(in srgb, var(--seventy-color) 90%, $white-color); 
    color:var(--primary-color);  
    font-weight: 600;
  }  
}

/* # Tab-content
----------------------------------------------- */
.tab-content {
  background-color:var(--primary-color);
  padding: 20px;
  
  .tab-pane {
    display: none;
    &.active {display: block;}  
  }  
}


