/* =====================
# VERTICAL-TABS
===================== */
.vertical-tabs-container {
  display: flex;
  border: 1px solid var(--tertiary-color);

  .vertical-tabs {
    width: 200px;
    padding-top: 20px;
    background-color: var(--secondary-color);
    border-right: 1px solid var(--tertiary-color);
  
    .vertical-tab {
      padding: 10px 15px;
      cursor: pointer;
      background-color: var(--secondary-color);
      color: var(--primary-text-color);      
      transition: background-color 0.3s ease;      
      font-family: $secondary-font;
      font-size: 1rem;
      text-align: center;
      font-weight: 300;

      &.active,
      &:hover {        
        background-color: color-mix(in srgb, var(--seventy-color) 90%, $white-color); 
        color:var(--primary-color);         
        font-weight: 600;
      }      
    }

  }

}

.vertical-tab-content {
  flex-grow: 1;
  background-color: var(--primary-color);
  padding: 20px;

  .vertical-tab-pane {
    display: none;
    &.active {display: block;}      
  }
  
}
