/* ==============================================
# SECCIONES
============================================== */

/* # TOPBAR
============================================== */
.topbar{
  padding:0.75rem 0;

  p{
    color:$primary-color;
  }

  .contact{
    gap:0.25rem;

    a,p{
      font-size: 0.875rem;
      color:$primary-text-color;
    }
  }  

}

/* # BANNER
============================================== */
.banner{
	display:block; 
	padding:100px 0 50px 0; 
	width:100%; 
	margin:0; 
	text-align:left; 
	word-wrap:break-word;

	#pagetitle h1{
		margin-bottom:1rem; 
		color: $primary-color;
		text-transform: uppercase;
	}	
}

/* # HERO
============================================== */
header.hero{
  background-image: url(../img/background-forms.png);
  background-size: cover;
  background-attachment: fixed;    
  background-color:$primary-text-color;
  width: 100%;
  height: auto;
  display: flex;
  align-items: center;  

  .hero_content{
    display: flex;
    flex-direction: column-reverse;
    h1{
      font-size: 2.3rem;
      color:$sixty-color;
    }
    p{color:$primary-color;}    

    img{ margin-bottom: 1rem;}
  }
}

/* # Footer
============================================== */
footer .legales{
  a,p{font-size: 0.875rem;}  
  p{margin: 0;}
  text-align: center;
}

/* # Tablet ------------------------------------------ */
/*A partir de 768px se aplicarán estos estilos => 768px
Tabletas verticales o celulares horizontales*/
@media (min-width: 768px) {
  .topbar{
    padding:0.25rem 0;

    .contact{
      gap:1rem;
    }    
  }  
}

/*A partir de 1024px se aplicarán estos estilos => 1024px
Tabletas horizontales*/
@media (min-width: 1024px) {

  header.hero{
    height: 100vh;

    .hero_content{
      flex-direction: row;
      align-items: center;
      justify-content: space-between;
      gap: 2rem;

      h1{font-size: 3.5rem;}      
  
      > div {flex: 0 0 48%;}  
      
      img{ margin-bottom: 0;}
    }     
  }
 
}