/* =====================
# PASSWORD
===================== */
.input-wrapper {
  position: relative;
  display: flex;
  align-items: center; 
}

.input-wrapper input {
  padding-right: 40px; /* espacio para el ojito */
  box-sizing: border-box;
  transition: all 0.2s;
}

/* Ojito alineado verticalmente y a la derecha */
.toggle-password {
  position: absolute;
  right: 10px;
  cursor: pointer;
  font-size: 16px;
  color: var(--primary-text-color);
  user-select: none;
  display: none; /* oculto por defecto */
  transition: color 0.2s;
}

/* Mostrar solo en Chrome */
@supports (-webkit-appearance:none) {
  .toggle-password {
    display: block;
  }
}

/* Ocultar ojito nativo de Edge */
input::-ms-reveal {
  display: none;
}
