/* =====================
# SEARCH
===================== */
.search-container {
  display: flex;
  align-items: center;
  width: 100%;
  .search,
  .search-button {box-sizing: border-box; }
}

/* # Search input
----------------------------------------------- */
.search {
  flex: 1;
  outline: none;
  height: 38px; /* Misma altura que el botón */    
  &.form-control{border-radius: 0.25rem 0 0 0.25rem;}
}

/* # Search button
----------------------------------------------- */
.search-button {
  background-color: color-mix(in srgb, var(--highlight-color) 90%, $white-color);
  border: 1px solid color-mix(in srgb, var(--highlight-color) 90%, $white-color);
  color: $white-color;
  padding: 10px;
  border-radius: 0 0.25rem 0.25rem 0;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 38px; /* Misma altura que el input */
  width: 40px;
  i{color: $white-color;}
  &:hover {
    background-color: var(--highlight-color);
    border: 1px solid var(--highlight-color);
  }
} 

@media (min-width: 768px) {   
  /* Search-container */
  .search-container {
    &.w-auto{width: auto;}    
  }
}
